# Core
ultralytics>=8.3.0
opencv-python>=4.13.0
numpy>=2.0.0
torch>=2.0.0
torchvision>=0.15.0

# Configuration
PyYAML>=6.0.2

# Utilities
tqdm>=4.67.0

# Hardware Acceleration
onnx>=1.15.0
onnxruntime-directml>=1.17.0
